//colors:

$green-1: #647872;
$green-2: #b6beb7;
$pink-1: #f1b5a7;
$pink-2: #eed9cd;
$gray-1: #302827;
$gray-2: #c3c3c3;
$white-1: #fff;
$white-2: #fafafa;

//fonts:

$paragraph-font: "Montserrat", sans-serif;
$nav-font: "Proza Libre", sans-serif;
$heading-font: "Cormorant Upright", serif;
